
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fff;
}

.wrap {
    margin: auto;
    width: 70%;
}

.header {
    padding: 1.3em 0;
}

.logo {
    float: left;
}

.logo a {
    display: block
}

.nav {
    float: right;
    margin-top: 0.82em;
    display: inline-block;
}

.nav > ul > li {
    display: inline-block;
}

.nav > ul > li.active a {
    background: #1b6d85;
    color: #ffffff;
}

.nav > ul > li > a {
    display: block;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    color: #444444;
    transition: 0.9s;
}

.nav > ul > li > a:hover {
    color: red;
    background: #bce8f1;
}

section.mops {
    background: url("mops.jpg") no-repeat;
    background-size: 100% 100%;
    height: 500px;
    padding: 10%;
    margin-top: 2em;
    position: relative;
}

.text {
    color: #ffffff;

}

.text > h2 {
    font-size: 2.6em;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    /*margin-top: -3em;*/
}

.text > h2 > span {
    font-size: 1.5em;
    font-weight: 200;
}

.text > p {
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 15%;
    bottom: 0;
    right: 15%;
    margin: auto;
}

.da-butt {
    position: absolute;
    top: 45%;
    left: 60%;
    width: 15%;
    background-color: #dca7a7;
    display: block;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0.3em 0.5em;
}

.da-butt:hover {
    background: darksalmon;
}

.butt-img {
background: url("butt.png");
    display: block;
    width: 50px;
    height: 50px;
    margin: 3em auto;
    position: absolute;
    top: 50%;
    left: 66%;
    transition: all 0.9s ease-in-out;
}

.butt-img:hover {
    display: block;
    width: 50px;
    height: 50px;
    background: url("butt.png");
}

.container-well {
    position: relative;
    transition: all 1s ease;
    text-align: center;
}

.container-well h2 {
    font-size: 2.5em;
}

.container-well p {
    font-size: 1.2em;
    padding-bottom: 1em;
}
#menu {
    width: 60%;
    list-style: none;
    margin: 2% auto;
    position: center;
}
#menu li {
    text-transform: uppercase;
    font-size: 1.3em;
    display: block;
    float: left;
    margin-left: 30px;
}
#menu li span {
    background: #dca7a7;
    padding: 0.5em 1em;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}
#menu li span:hover {
    background: darksalmon;
}

#menu li span.active {
    background: darksalmon;
}
